@media screen and (min-width: 320px) {
  .Title {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
    margin: 0;
    font-family: Raleway;
    font-weight: 800;
    font-size: 30px;
    line-height: 1.2;
    color: #1c1c39;
  }
  .List {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    width: 100%;
    margin: 0;
    align-items: center;
  }
  .Item {
    cursor: pointer;
    width: 170px;
    height: 57px;
    margin-bottom: 20px;
    border-radius: 20px;
    text-align: center;
    align-items: center;
    line-height: 3.12;
    font-family: Raleway;
    font-weight: 800;
    font-size: 16px;
    color: #1c1c39;
    background-color: #ffffff;
  }

  .ActiveItem {
    background-color: #422ed4;
    color: #ffffff;
  }

  .ItemText {
    font-family: Raleway;
    font-weight: 800;
    font-size: 16px;
    line-height: 1.2;
    padding-top: 17px;
  }
  .ChuckContainer {
    position: relative;
  }
  .Img {
    position: absolute;
    top: -153px;
    right: 40px;
    z-index: 0;
  }

  .Joke {
    box-sizing: border-box;
    position: relative;
    z-index: 1;
    margin-top: 165px;
    padding: 24px;
    min-height: 162px;
    background-color: #422ed4;
    box-shadow: 0px 100px 80px rgba(80, 76, 103, 0.07),
      0px 0px 10.0172px rgba(80, 76, 103, 0.035);

    font-family: Raleway;
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
    color: #ffffff;
    border-radius: 25px;
  }
}

@media screen and (min-width: 768px) {
  .List {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }
  .Item {
    width: 216px;
    margin-right: 20px;
  }

  .Item:nth-child(3n) {
    margin-right: 0px;
  }

  .Joke {
    width: 100%;
  }
}
@media screen and (min-width: 1024px) {
  .Item {
    width: 221px;
  }

  .Item:nth-child(3n) {
    margin-right: 20px;
  }
  .Item:nth-child(4n) {
    margin-right: 0px;
  }
}
@media screen and (min-width: 1200px) {
  .Title {
    padding-top: 60px;
    padding-bottom: 60px;
    font-size: 50px;
  }
  .Item {
    width: 23.29%;
  }
}

@media screen and (min-width: 1440px) {
  .Item {
    width: 170px;
  }
  .Item:nth-child(4n) {
    margin-right: 20px;
  }
  .Item:nth-child(6n) {
    margin-right: 0px;
  }
}
