@media screen and (min-width: 320px) {
  .Container {
    background-color: #e5e5e5;
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media screen and (min-width: 1200px) {
  .Container {
    max-width: 1440px;
    padding-left: 160px;
    padding-right: 160px;
  }
}
